/*Possible color schemes
#c0c0c0 silver, #c84d4e red, #869987 pale green, #c0ced7 dull blue-gray, #717d8a gray
#0e0e0e black, #061e38 navy, #5d417c purple, #c93a72 magenta, #080bc6 blue
#2b5426 dark green, #b0d490 light green, #98ab9f beige, #f90606 red, #ffd700 gold
#7BEA37 Luigi green #70D438 the definitive Luigi green #E89518 Dark gold #F8B026 Gold*/

/* body rules  ****************/
#hero{
    background-color: #c0c0c0;
    background-repeat:no-repeat;
    width: 100%;
    background-position-y:bottom;
    min-height:1000px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h2{
    color: navy;
    font-size: 1.8em;
    text-shadow: 2px 2px 6p#000000;
    font-family: "Nosifer", sans-serif;
    text-align: center;
}

.logo{
    color: navy;
}

body {
    background-color: #c0c0c0;
    color: #333;
    font-size: 1.2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

.header{
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid navy;
    background-color: #c0c0c0;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    text-align: center;
}

.hero1 {
    width: 50%;
    height: 1000px;
    border: 1px solid navy;
}

.main-nav, h1{
    list-style-type: none;
    color: navy;
}

.dargText {
    float: right;
}

/* End of body rules **********/

.wrapper {
    display: grid;
    grid-template-columns: minmax(230px, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

/* Card rules *****************/
article {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    border: 3px solid #080bc6;
    border-radius: 15px;
}

.card header {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #c0c0c0;
    border-radius: 15px 15px 0 0;
    color: white;
    height: 4em;
}

.card header h2 {
    text-align: center;
    color: #080bc6;
    font-family: ;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content p {
    padding: 2% 3%;
    color: #080bc6;
}

article footer {
    background-color: #c0c0c0;
    border-radius: 0 0 15px 15px;
}

article footer h4 {
    display: inline-block;
    color: #080bc6;
}

article footer button {
    display: inline-block;
}

#darg {
    object-position: 50% 20%;
}

#mar {
    object-position: 50% 10%;
    height: 300px;
    width: 600px;
}

#lon {
    height: 330px;
}

#bug {
    object-position: 50% 60%;
}

#joel {
    width: 600px;
    height: 300px;
}

.content img {
    height: 300px;
}

.lungi {
    color: #7BEA37 !important;
}

.som{
    font-size: 1em;
}

footer {
    min-height: 50px;
}

footer button, .content button {
    color: #c0c0c0;
    background-color: #080bc6;
    border-radius: 15px;
}

.content button {
    margin-top: 4px;
}

button:hover {
    cursor: pointer;
}

.buttonLeft {
    margin-left: 40%;
}

.buttonRight {
    float: right;
    margin-right: 120px;
    margin-top: 3px;
}

.buttonLeft .buttonRight {
    border-radius: 10px;
}

.merienda-uniquifier {
    font-family: "Merienda", serif;
    font-style: normal;
    font-size: 1.1em;
}

.musk {
    height: 200px;
}

.row3 {
    height: 405px;
}

.row4 {
    height: 405px;

}

.fuck {
    margin-top: -10px;
}

header h2 {
    color: #080bc6;
    text-align: center;
}
/* Styles for all cards *******************/



/* End All Cards Styles *******************/

/* Tablet Media Query */
@media screen and (min-width: 480px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(230px, 1fr));
        grid-gap: 20px;
        padding: 20px;
    }
}

@media screen and (min-width: 764px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(230px, 1fr));
        grid-gap: 20px;
        padding: 20px;
    }
}

/* Desktop/Laptop Media Query */
@media screen and (min-width: 1280px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(230px, 1fr));
        grid-gap: 20px;
        padding: 20px;
    }
}