/*Possible color schemes
#c0c0c0 silver, #c84d4e red, #869987 pale green, #c0ced7 dull blue-gray, #717d8a gray
#0e0e0e black, #061e38 navy, #5d417c purple, #c93a72 magenta, #4370e7 blue
#2b5426 dark green, #b0d490 light green, #98ab9f beige, #f90606 red*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

#hero{
    background-image: url(images/critmas.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position-y:bottom;
    min-height:1000px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h2{
    color: navy;
    font-size: 1.8em;
    text-shadow: 2px 2px 6px #FFFFFF;
    font-family: "Nosifer", sans-serif;
    text-align: center;
}

.container{
    display: grid;
    text-align: center;
}

.header{
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid navy;
    background-color: #c0c0c0;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    text-align: center;
}

.main-nav, h1{
    list-style-type: none;
    color: navy;
}

header li{
    display: inline
}

li{
    padding: 30px;
    font-size: 28px;
}

.one{
    grid-column: 1/3;
    grid-row: 1/3;
}

.two{
    grid-column: 2/3;
    grid-row: 1/3;
}

.three{
    grid-column: 3/3;
    grid-row: 1/3;
}