/*Possible color schemes
#c0c0c0 silver, #c84d4e red, #869987 pale green, #c0ced7 dull blue-gray, #717d8a gray
#0e0e0e black, #061e38 navy, #5d417c purple, #c93a72 magenta, #4370e7 blue
#2b5426 dark green, #b0d490 light green, #98ab9f beige, #f90606 red, #eec990 gold*/
body {
    margin:0px;
    padding:0px;
    background-color: #c0c0c0;
}

#hero{
    background-color: #c0c0c0;
    background-repeat:no-repeat;
    width: 100%;
    background-position-y:bottom;
    min-height:1000px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h2{
    color: navy;
    font-size: 1.8em;
    text-shadow: 2px 2px 6p#000000;
    font-family: "Nosifer", sans-serif;
    text-align: center;
}

.logo{
    color: navy;
}

.header{
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid navy;
    background-color: #c0c0c0;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    text-align: center;
}

.main-nav, h1{
    list-style-type: none;
    color: navy;
}

header li{
    display: inline
}

li{
    padding: 30px;
    font-size: 28px;
}

.col-sm{
padding: 130px;
}

.container{
    background-color: #c0c0c0;
}

p, h3{
    color: #c0c0c0;
}

.btn-primary{
    color: navy;
}

.card{
    margin: 0px;
    background-color: navy;
}

.btn{
    background-color: #c0c0c0;
    border-color: #c0c0c0;
}